/**
 * *MYPAGE 
*/
body.sub header + section {margin: 7px 0 0 0; padding: 87px 0 80px;}
body.mobile.sub header + section {margin-top: 0 !important;}


/* 
    section:: mypage
*/
section.mypage {background-color: #f3f3f3;}
.mypageWrap {overflow: hidden;}
.mypageWrap h2 {
    font-size: 1.6em; font-weight: 500;
    margin-bottom: 20px;
}
.sideBox {
    float: left; width: 230px;
    text-align: center;
    padding: 40px 20px; box-sizing: border-box;
    background-color: #fff;
}
.sideBox .myInfo {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 45px;
}
.sideBox .myInfo .myInfo_img {
    width: 80px; height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.sideBox .myInfo .center_name {
    color: #01df70; font-size: 1.1em; font-weight: 500;
    margin-bottom: 5px;
}
.sideBox .myInfo .user_name {
    font-size: 0.9em;
}
.sideBox .myInfo .user_name strong {
    font-size: 1.1rem; font-weight: 500;
    margin-right: 5px;
}
.sideNav li {margin-bottom: 10px;}
.sideNav li a {
    display: inline-block; padding: 7px 28px;
    font-size: 0.85em;
}
.sideNav li._on a {
    color: #fff; background-color: #01df70;
    border-radius: 40px;
}

.contentsArea {
    float: right; width: calc(100% - 260px);
}
.postBox {
    display: table; width: 100%; min-height: 340px;
    background-color: #fff;
    border-top: 3px solid #434343;
    padding: 30px; box-sizing: border-box;
    margin-bottom: 40px;
}
.postBox:last-child {margin-bottom: 0;}
.postBox .postTitle {
    display: table-cell; width: 210px;
    text-align: center;
    box-sizing: border-box;
    padding-right: 30px;
    vertical-align: middle;
}
.postBox .postTitle h4 {
    font-size: 1.1em; font-weight: 500;
}
.postBox .postTitle h4:after {
    content: ''; display: block;
    width: 21px; height: 21px; background: url('../img/sub/postCount.png') right top no-repeat;
    margin: 20px auto 0;
}
.postBox._album .postTitle h4:after {background-position: right top;}
.postBox._review .postTitle h4:after {background-position: right bottom;}
.postBox .postTitle .count {
    font-size: 3em; font-weight: 700;
}
.postBox .postTitle .moreBtn {
    display: inline-block;
    color: #fff; font-size: 0.75em; font-weight: 200;
    background-color: #434343;
    padding: 7px 15px; border-radius: 35px;
    margin-top: 15px;
}
.postBox .postTitle .moreBtn:before {
    content: ''; display: inline-block;
    width: 13px; height: 13px;
    background: url('../img/sub/post_moreBtn.png') left center no-repeat;
    vertical-align: middle; margin: -3px 5px 0 0;
}
.postList {
    display: table-cell; width: calc(100% - 210px);
    border-left: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding-left: 30px;
    vertical-align: middle;
}
.postList ul {
    overflow: hidden; margin-bottom: -20px;
}
.postList li {
    float: left; margin-left: 15px; margin-bottom: 20px;
    width: calc(25% - 15px);
}
._album .postList li a {max-width: 200px; margin: 0 auto;}
.postList li a {
    display: block;
}
.postList li img {
    width: 100%; max-width: 200px; height: auto;
    border: 1px solid #bebebe; box-sizing: border-box;
    margin-bottom: 15px;
}
.postList li a .center_name {
    width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
    font-size: 0.9em; font-weight: 500;
}
.postList li a .center_loc {
    font-size: 0.8em; font-weight: 300;
}

.postList li._none {
    width: 100%; float: none;
    font-size: 0.8em; font-weight: 200; text-align: center;
    margin-left: 0;
}

/* bookmark */
._tabPage {background-color: #fff;}
.mp_tab {
    overflow: hidden; position: relative;
    border-bottom: 1px solid #929292;
}
.mp_tab:before {
    content: '';
    position: absolute; top: 0; left: 50%;
    width: 1px; height: 100%; background-color: #f3f3f3;
}
.mp_tab li {
    border-top: 5px solid #e1e1e1;
    float: left; width: 50%;
}
.mp_tab li a {
    display: block; width: 100%; text-align: center;
    color: #d2d2d2;
}
.mp_tab li.on {border-color: #434343;}
.mp_tab li.on a  {color: #434343;}
.mp_tab li a h4 {
    display: inline-block;
    font-size: 1.1em; font-weight: 700;
}
.mp_tab li a h4:before {
    content: ''; display: inline-block;
    width: 21px; height: 21px; background: url('../img/sub/postCount.png') right top no-repeat;
    vertical-align: middle; margin: -3px 20px 0 0;
}
.mp_tab li._bookmark.on a h4:before { background-position: left top; }
.mp_tab li._myPost a h4:before { background-position: right bottom; }
.mp_tab li._myPost.on a h4:before { background-position: left bottom; }
.mp_tab li a p {
    display: inline-block;
    font-size: 3em; font-weight: 700;
    vertical-align: middle; margin: 0 0 15px 60px;
}

.mp_list > li {
    padding: 50px;
    display: none;
}
.mp_list > li.on {display: block;}
/* 북마크 리스트 */
#_bookmark #srchResult {margin: 0;}
#_bookmark #srchResult > ul > li {
  width: calc(33% - 9px);
}
#_bookmark #srchResult > ul > li:nth-child(3n) {margin-right: 0;}
#_bookmark #srchResult > ul > li:nth-child(4n) {margin-right: 17px;}
/* 내가 쓴 후기 리스트 */
#_myPost {padding-top: 0;}
#_myPost > ul > li {
    border-bottom: 1px solid #a3a3a3;
}
#_myPost .post_info {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
    padding: 30px 20px;
}
#_myPost .post_info > img {
    float: left; border: 1px solid #c2c2c2;
}
#_myPost .post_info .center_info {
    float: left; margin: 10px 0 0 15px;
}
#_myPost .post_info .center_info a {
    font-size: 0.9em; font-weight: 500;
}
#_myPost .post_info .center_info p {
    font-size: 0.8em; font-weight: 200;
}
#_myPost .post_info .post_edit {
    float: right;
    margin: 10px 0 0 15px;
}
#_myPost .post_info .post_edit .date {
    color: #656565; font-size: 0.8em; font-weight: 300;
    margin-bottom: 10px;
}
#_myPost .post_info .post_edit ._btn {
    display: inline-block; text-align: center;
    color: #a0a0a0; font-size: 0.9em; font-weight: 200;
    padding: 1px 18px;
    border: 1px solid #b5b5b5; border-radius: 30px;
}
#_myPost .rvw_detail {
    width: 100%; min-height: auto; margin: 50px 20px;
}
#_myPost .rvw_detail .rvw_dtl_chk {width: calc(100% - 490px);}
#_myPost .rvw_detail .rvw_slideWrap {
    width: 210px; height: 210px;
    top: 20px; right: 40px;
}
#_myPost .rvw_detail .rvw_slideWrap img {width: 100%; height: auto;}


/* 회원정보수정 & 비밀번호 변경 */
._userInfoEdit {
    background-color: #fff;
    padding: 70px; box-sizing: border-box;
}
._userInfoEdit h3 {
    font-size: 1.6em; font-weight: 700; text-align: center;
    margin-bottom: 60px;
}



/* ---------------------------------------------------- 반응형 */
@media all and (max-width: 1200px) {
    .postList li {width: calc(33% - 15px)};
}
@media all and (max-width: 1070px) {
    #_myPost .rvw_detail .rvw_dtl_chk {width: 100%;}
}
@media all and (max-width: 1050px) {
    .postList li {width: calc(50% - 15px)};
}
@media all and (max-width: 980px) {
    body.sub header + section {margin-top: 0; padding-top: 30px;}
    .sideBox {display: none;}
    .contentsArea {float: none; width: 100%;}
}
@media all and (max-width: 800px) {
    .mp_tab li a p {margin-right: 10px;}
}
body.mobile .postBox {display: block;}
body.mobile .postBox .postTitle,
body.mobile .postList {display: block; width: 100%; border-left: 0; padding: 0;}
body.mobile .postBox .postTitle {
    margin-bottom: 40px; border-bottom: 1px solid #d9d9d9;
    padding-bottom: 40px;
}
body.mobile ._album .postList li {
    width: calc(50% - 4%);
    margin: 0 2% 20px;
}
body.mobile .mp_tab li a {font-size: 0.8em;}
body.mobile .mp_tab li a h4 {margin-top: 10px;}
body.mobile .mp_tab li a p {display: block; margin: 0 auto; font-size: 2em;}

/* 북마크 리스트 */
@media all and (max-width: 1300px) {
    #_bookmark #srchResult > ul > li {width: calc(50% - 9px);}
    #_bookmark #srchResult > ul > li:nth-child(3n) {margin-right: 17px;}
    #_bookmark #srchResult > ul > li:nth-child(2n) {margin-right: 0;}
}
body.mobile #_bookmark  #srchResult > ul > li,
body.mobile #_bookmark  #srchResult > ul > li:nth-child(2n) {margin-right: 0;}
body.mobile #_bookmark  #srchResult > ul > li {width: 100%;}
body.mobile .mp_list > li {padding: 20px;}

/* 회원정보수정 & 비밀번호 변경*/
body.mobile ._userInfoEdit {padding: 50px 30px;}
body.mobile .join_date dt {float: left; width: auto;}
body.mobile .join_date dd {float: right; width: auto;}
body.mobile {}